:root {
    --bs-blue: #0004ff;
    --bs-cyan: #0004ff;
    --bs-dark-gray: #1f2937;
    --bg-main: #ffffff;      /* Gris bleu anti-fatigue */
    --bg-alt: #eefaff;
    --card-bg: #ffffff;
    --border-color: #000080;
    --shadow-soft: 0 4px 10px rgba(0, 0, 0, 0.08);
}

body { 
    font-family: 'Quicksand', sans-serif; 
    padding-top: 56px; 
    background-color: var(--bg-main); 
    color: #334155; 
    transition: 0.3s; 
    overflow-x: hidden; 
}

/* NAVBAR */
.bg-blue { background-color: var(--bs-blue) !important; }
.bouton-nav { color: rgba(255,255,255,0.8); padding: 0.8rem 1rem; text-decoration: none; display: block; transition: 0.3s; font-weight: 500; }
.bouton-nav:hover { color: rgb(171, 229, 243); background: rgba(255,255,255,0.1); }

/* SECTIONS */
.section { padding: 80px 0; border-bottom: 3px solid var(--border-color); }
.section-white { background-color: var(--bg-alt); }
.section-gray { background-color: var(--bg-main); }
.text-blue { color: var(--bs-blue) !important; }

/* CARTES ET IMAGES */
.card { background-color: var(--card-bg); border: 1px solid var(--border-color) !important; box-shadow: var(--shadow-soft); border-radius: 20px; overflow: hidden; }
.certif-img-container { height: auto; overflow: hidden; border-bottom: 3px solid var(--border-color); background: #f8fafc; }
.certif-preview-img, .project-img { width: 100%; height: 100%; object-fit: scale-down; cursor: pointer; transition: 0.3s; }
.project-img { height: 220px; }
.certif-preview-img:hover, .project-img:hover { opacity: 0.85; transform: scale(1.00); }

/* BADGES SLAM (blue) */
.badge-custom {
    display: inline-block;
    padding: 8px 14px;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 50px;
    text-transform: uppercase;
}
.bg-blue-light {
    background-color: rgba(147, 51, 234, 0.1);
    color: var(--bs-blue) !important;
    border: 1px solid rgba(147, 51, 234, 0.3);
}

/* BADGES VEILLE (Cyan) */
.bg-info-light {
    background-color: rgba(34, 211, 238, 0.1);
    color: #0891b2;
    border: 1px solid #ffffff;
}

/* TIMELINE (Ligne de vie violette) */
.timeline { position: relative; max-width: 1000px; margin: 40px auto; }
.timeline::after { content: ''; position: absolute; left: 50%; width: 45x; background: var(--bs-blue); top: 0; bottom: 0; transform: translateX(-50%); }
.timeline-item { position: relative; width: 50%; padding: 10px 40px; margin-bottom: 20px; z-index: 1; }
.timeline-item:nth-child(even) { left: 50%; }
.timeline-dot { position: absolute; top: 25px; width: 20px; height: 20px; background: var(--bs-blue); border: 4px solid white; border-radius: 70%; z-index: 10; }
.timeline-item:nth-child(odd) .timeline-dot { right: -10px; }
.timeline-item:nth-child(even) .timeline-dot { left: -10px; }

@media (max-width: 700px) {
    .timeline::after { left: 10px; }
    .timeline-item { width: 100%; padding-left: 50px; left: 0 !important; }
    .timeline-dot { left: 10px !important; }
}

/* HEADER & BOUTON */
.header { background-color : #000080; padding: 50px 20px; color: white; text-align: center; }
.btn-custom { display: inline-block; background: var(--bs-blue); color: white !important; padding: 10px 25px; border-radius: 50px; text-decoration: none; font-weight: 600; box-shadow: 0 4px 0px	#ffffff; transition: 0.2s; border: none; }
.btn-custom:hover { transform: translateY(2px); box-shadow: 0 2px 0px #000080; }


.footer { padding: 40px 0; background-color: var(--bs-dark-gray); }


